pyyaml
numpy
matplotlib
networkx

backports.functools_lru_cache
brotli
certifi
charset-normalizer
contourpy
cycler
decorator
fonttools
future
idna
importlib-resources
kiwisolver
matplotlib==3.7.3
munkres
networkx
numpy==1.24.4
packaging
pandas==2.0.3
patsy
pillow
platformdirs
plotly==5.18.0
plotly-express==0.4.1
ply
pooch
pyparsing
pysocks
python-dateutil
python-tzdata
pytz
requests
scipy==1.10.1
setuptools
six
statsmodels==0.14.0
tabulate
tenacity
toml
tomli
tornado
typing-extensions
unicodedata2
urllib3
wheel
xmltodict
zipp


torch